.hy.center-text {
	text-align: center !important;
}

.hy.flex {
	display: flex !important;
}

.hy.vertical {
	flex-direction: column !important;
}

.hy.horizontal {
	flex-direction: row !important;
}

.hy.center {
	justify-content: center !important;
}