.hy.app {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hy.app.large {
    max-width: 1200px;
}

.hy.app.medium {
    max-width: 900px;
}

.hy.app.narrow {
    max-width: 600px;
}

.hy.card {
    background-color: var(--theme);
    width: 100%;
    padding: 0.6em 0.3em;
    border-radius: 0.6em;
    box-shadow: 0px 7.5px 15px
        color-mix(in oklab, var(--shadow-color), transparent);
    margin: 1.2em 0.3em;
}

.hy.subcard {
    background-color: var(--theme);
    width: calc(100% - 1.2em);
    padding: 0.6em 0.3em;
    border-radius: 0.6em;
    box-shadow: 0px 2.5px 5px
        color-mix(in oklab, var(--shadow-color), transparent);
    margin: 1.2em 0.3em;
}

.hy.banner {
    margin: 0;
    margin-bottom: 23em;
}

.hy.banner::before {
    width: 100%;
    height: 23em;
    margin-top: -6em;
    content: "But first, we must talk about ~parallel universes~";
    color: transparent;
    font-family: monospace;
    position: absolute;
    background-color: var(--sub-color);
    z-index: -10;
    mask-image: linear-gradient(
        calc(-90deg),
        white,
        white 50%,
        transparent 95%,
        transparent
    );
}
