.hy.app {
	margin-top: 4.6em;
	max-width: 800px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.hy.card {
	background-color: white;
	max-width: 600px;
	width: 100%;
	padding: 0.6em 0.3em;
	border-radius: 0.6em;
	box-shadow: 0px 7.5px 15px color-mix(in srgb, var(--shadow-color), transparent);
	margin: 1.2em 0.3em;
}

.hy.subcard {
	background-color: white;
	max-width: 600px;
	width: calc(100% - 1.2em);
	padding: 0.6em 0.3em;
	border-radius: 0.6em;
	box-shadow: 0px 7.5px 15px color-mix(in srgb, var(--shadow-color), transparent);
	margin: 1.2em 0.3em;
}