h1.hy,
h2.hy,
h3.hy,
h4.hy,
h5.hy,
h6.hy {
    text-align: center;
}

h1.hy,
h2.hy,
h3.hy,
h4.hy,
h5.hy,
h6.hy {
    color: color-mix(in oklab, var(--main-color), var(--inverse));
    margin: 0.6em 0.3em;
    padding: 0.6em 0.3em;
    background-color: color-mix(in oklab, var(--sub-color), var(--theme));
    border-radius: 0.6em;
    box-shadow: 0px 3.5px 7px
        color-mix(in oklab, var(--shadow-color), transparent);
}

h1.hy {
    background-color: color-mix(in oklab, var(--main-color), var(--inverse));
    color: var(--theme);
    font-size: 30pt;
}

h2.hy {
    font-size: 24pt;
}

h3.hy {
    font-size: 18pt;
}

body.hy {
    background-color: color-mix(in oklab, var(--sub-color), var(--theme) 85%);
}

code.hy {
    color: inherit;
    white-space: pre-line;
}

p.hy {
    padding: 0.3em 0.3em;
}

body.hy {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

hr.hy {
    --base-color: color-mix(in oklab, var(--main-color), var(--inverse));
    margin: 0.6em 0.9em;
    padding: 2px;
    border: none;
    border-radius: 2px;
    background-color: color-mix(in oklab, var(--base-color), transparent 75%);
}

ul.hy,
ol.hy {
    --base-color: color-mix(in oklab, var(--sub-color), var(--theme) 25%);
    border-radius: 0.4em;
    background-color: var(--base-color);
    border-width: 0.1em;
    border-style: solid;
    border-radius: inherit;
    border-color: var(--base-color);
}

li.hy::marker {
    --base-color: color-mix(in oklab, var(--main-color) 90%, var(--inverse));
    --dark: color-mix(in oklab, var(--base-color), var(--inverse) 25%);
    font-weight: bold;
    color: var(--dark);
}

li.hy {
    border-width: 0.1em;
    padding: 0em 0.3em;
    background-color: var(--theme);
    border-style: solid;
    border-color: var(--base-color);
    border-radius: inherit;
}

li.hy:nth-child(odd) {
    background-color: color-mix(in oklab, transparent, var(--theme) 50%);
}

code.hy {
    font-family: monospace !important;
    background-color: #222;
    color: white !important;
    padding: 0.3em 0.6em;
    margin-inline: 0.3em;
    border-radius: inherit;
    box-shadow: 0px 3px 6px color-mix(in oklab, black, transparent);
    flex-wrap: nowrap;
    overflow-wrap: normal;
    overflow-x: scroll;
    word-wrap: normal;
    white-space: nowrap !important;
}

iframe.hy {
    width: 100%;
    height: 99.5%;
    min-height: none;
    max-height: none;
    border: none;
}

table.hy {
    border-radius: 0.6em;
    padding: 0.1em;
}

tr.hy {
    margin: none;
}

td.hy {
    margin: none;
}
