.hy.button {
	text-align: center;
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0.3em 0.3em;
	padding: 0.3em 0.3em;
	text-decoration: none;
	border-radius: 0.3em;
	transform: translateY(-3px);
	border: none;
	text-wrap: balance;
}

.hy.button:hover {
	transform: translateY(-6px);
}

.hy.button:active {
	transform: translateY(0px);
}

.hy.button:disabled {
	transform: translateY(0px);
}

.hy.button.tiny {
	width: 25px;
	height: 25px;
	border-radius: 2em;
}

/* Action Button */

.hy.button.action {
	font-weight: bold;
	box-shadow: 0px 3px 0px var(--shadow-color);
	background-color: color-mix(
		in oklab,
		var(--main-color),
		var(--inverse) 20%
	);
	color: var(--theme);
}

.hy.button.action:hover {
	box-shadow: 0px 6px 0px
		color-mix(in oklab, var(--shadow-color), var(--inverse));
	background-color: color-mix(in oklab, var(--main-color), var(--inverse));
	color: color-mix(in oklab, var(--main-color), var(--theme));
}

.hy.button.action:active {
	box-shadow: 0px 0px 0px color-mix(in oklab, var(--main-color), var(--theme));
	background-color: color-mix(in oklab, var(--main-color), var(--theme));
	color: color-mix(in oklab, var(--main-color), var(--inverse));
}

.hy.button.action:disabled {
	box-shadow: 0px 0px 0px
		color-mix(in oklab, var(--main-color), var(--inverse));
	background-color: color-mix(in oklab, var(--main-color), gray 25%);
	color: color-mix(in oklab, var(--main-color), var(--theme) 75%);
}

/* OK Button */

.hy.button.ok {
	font-weight: bold;
	box-shadow: 0px 3px 0px color-mix(in oklab, lime, var(--inverse) 75%);
	background-color: color-mix(in srgb, lime, var(--inverse));
	color: var(--theme);
}

.hy.button.ok:hover {
	box-shadow: 0px 6px 0px color-mix(in oklab, lime, var(--inverse) 75%);
	background-color: color-mix(in srgb, lime, var(--inverse) 75%);
	color: color-mix(in oklab, lime, var(--theme) 25%);
}

.hy.button.ok:active {
	box-shadow: 0px 0px 0px color-mix(in oklab, lime, var(--inverse) 25%);
	background-color: color-mix(in oklab, lime, var(--theme) 25%);
	color: color-mix(in srgb, lime, var(--inverse) 75%);
}

.hy.button.ok:disabled {
	box-shadow: 0px 0px 0px color-mix(in oklab, lime, var(--inverse) 75%);
	background-color: color-mix(in srgb, lime, gray 25%);
	color: color-mix(in oklab, lime, var(--theme) 75%);
}

/* Info button */

.hy.button.info {
	font-weight: bold;
	box-shadow: 0px 3px 0px color-mix(in oklab, blue, var(--inverse));
	background-color: color-mix(in srgb, blue 80%, var(--inverse));
	color: var(--theme);
}

.hy.button.info:hover {
	box-shadow: 0px 6px 0px color-mix(in oklab, blue, var(--inverse) 75%);
	background-color: color-mix(in srgb, blue, var(--inverse) 75%);
	color: color-mix(in oklab, blue, var(--theme) 25%);
}

.hy.button.info:active {
	box-shadow: 0px 0px 0px color-mix(in oklab, blue, var(--inverse) 25%);
	background-color: color-mix(in oklab, blue, var(--theme) 25%);
	color: color-mix(in srgb, blue, var(--inverse) 75%);
}
.hy.button.info:disabled {
	box-shadow: 0px 0px 0px color-mix(in oklab, blue, var(--inverse) 75%);
	background-color: color-mix(in srgb, blue, var(--inverse) 33%);
	color: color-mix(in oklab, blue, var(--theme) 33%);
}

/* Warning button */

.hy.button.warn {
	font-weight: bold;
	box-shadow: 0px 3px 0px color-mix(in oklab, red, var(--inverse));
	background-color: color-mix(in srgb, red 80%, var(--inverse));
	color: var(--theme);
}

.hy.button.warn:hover {
	box-shadow: 0px 6px 0px color-mix(in oklab, red, var(--inverse) 75%);
	background-color: color-mix(in srgb, red, var(--inverse) 75%);
	color: color-mix(in oklab, red, var(--theme) 25%);
}

.hy.button.warn:active {
	box-shadow: 0px 0px 0px color-mix(in oklab, red, var(--inverse) 25%);
	background-color: color-mix(in oklab, red, var(--theme) 25%);
	color: color-mix(in srgb, red, var(--inverse) 75%);
}

.hy.button.warn:disabled {
	box-shadow: 0px 6px 0px color-mix(in oklab, red, var(--inverse) 75%);
	background-color: color-mix(in srgb, red, gray 25%);
	color: color-mix(in oklab, red, var(--theme) 75%);
}
