code.hy > .kw {
    font-weight: bold;
    color: color-mix(in oklab, blue, white);
}

code.hy > .op {
    color: lightcoral !important;
}

code.hy > .fn {
    color: lightgreen !important;
}

code.hy > .str {
    color: gold !important;
}

code.hy > .num {
    font-weight: bold;
    color: violet !important;
}

code.hy > .macro {
    font-weight: 500;
    color: color-mix(in srgb, magenta, white);
}

code.hy > .memo {
    color: gray;
}

code.hy > .name {
    color: white;
}

code.hy.block {
    border-radius: 0.6em;
}

code.hy.inline {
    padding: 0.1em 0.3em;
    border-radius: 0.4em;
}
