.hy.form {
	justify-content: center;
}

.hy.input {
	--base-color: color-mix(in oklab, var(--main-color) 90%, var(--inverse));
	--text-color: color-mix(in oklab, var(--main-color) 40%, var(--inverse));
	border: none;
	border-radius: 0.3em;
	background-color: color-mix(in oklab, var(--base-color), transparent 80%);
	color: var(--text-color);
	padding: 0.2em 0.4em;
	margin: 0.4em 0.2em;
	font-weight: normal;
}

.hy.input:hover {
	font-weight: bold;
	background-color: color-mix(in oklab, var(--base-color), transparent 60%);
}

.hy.input:focus {
	font-weight: bold;
	background-color: color-mix(in oklab, var(--base-color), transparent 60%);
}

:is(input[type="checkbox"], input[type="radio"]).hy.input {
	height: 0;
	width: 0;
}

:is(input[type="checkbox"], input[type="radio"]).hy.input
	+ .hy.input-view::before {
	--base-color: color-mix(in oklab, var(--main-color) 90%, var(--inverse));
	--text-color: color-mix(in oklab, var(--main-color) 40%, var(--inverse));
	margin: 0.2em;
	cursor: pointer;
	color: transparent;
	padding: 0.5em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	background-color: color-mix(in oklab, var(--base-color), transparent 80%);
	font-family: monospace;
	box-shadow: 0px 3px 0px
		color-mix(in oklab, var(--shadow-color), transparent);
	transform: translateY(-2px);
	border-radius: 0.3em;
	transition: inherit;
	display: inline-block;
}

:is(input[type="checkbox"], input[type="radio"]).hy.input:checked
	+ .hy.input-view::before {
	font-weight: bold;
	background-color: color-mix(in oklab, var(--base-color), transparent 20%);
	box-shadow: 0px 1px 0px
		color-mix(in oklab, var(--shadow-color), transparent 25%);
	transform: translateY(0px);
	color: var(--theme);
}

:is(input[type="checkbox"], input[type="radio"]).hy.input:hover:not(:disabled)
	+ .hy.input-view::before {
	background-color: color-mix(in oklab, var(--base-color), transparent 60%);
	box-shadow: 0px 5px 0px
		color-mix(in oklab, var(--shadow-color), transparent 30%);
	transform: translateY(-4px);
}

.hy.input.round,
input[type="radio"].hy.input + .hy.input-view::before {
	border-radius: 100%;
}

:is(input[type="checkbox"]).hy.input + .hy.input-view::before {
	font-size: 0.8em;
	content: "✓";
}
:is(input[type="radio"]).hy.input + .hy.input-view::before {
	content: "•";
}

.hy.input:is(:disabled, :read-only),
:is(input[type="checkbox"], input[type="radio"]).hy.input:disabled
	+ .hy.input-view::before {
	cursor: not-allowed;
	color: var(--theme);
	background-color: color-mix(
		in oklab,
		var(--base-color),
		var(--inverse) 25%
	);
}

:is(input[type="checkbox"], input[type="radio"]).hy.input:disabled:not(:checked)
	+ .hy.input-view::before {
	background-color: color-mix(
		in oklab,
		var(--base-color),
		var(--inverse) 25%
	);
	box-shadow: 0px 3px 0px
		color-mix(in oklab, var(--shadow-color), transparent 30%);
	color: transparent;
	transform: translateY(-2px);
}

:is(input[type="checkbox"], input[type="radio"]).hy.input:disabled:checked
	+ .hy.input-view::before {
	background-color: color-mix(
		in oklab,
		var(--base-color),
		var(--inverse) 35%
	);
	box-shadow: 0px 1px 0px
		color-mix(in oklab, var(--shadow-color), transparent 30%);
	transform: translateY(0px);
}

.hy.textbox {
	border: none;
	border-radius: 0.6em;
	font-size: 11pt;
	word-break: keep-all;
	resize: none;
}
