li.hy.pop {
    --base-color: color-mix(in oklab, var(--main-color) 90%, var(--inverse));
    --dark: color-mix(in oklab, var(--base-color), var(--inverse) 25%);
    margin: 0.25em;
    border-width: 0;
    box-shadow: 0px 2px 2px
        color-mix(in oklab, var(--shadow-color), transparent);
    border-radius: 0.4em;
}

ul > li.hy.pop::marker {
    content: "";
}

ul > li.hy.pop::before {
    content: "•";
    padding: 0em 0.4em;
    color: var(--theme);
    margin: 0.25em 0.6em;
    background-color: color-mix(in oklab, var(--dark), transparent 50%);
    margin-left: -1.6em;
    border-width: 0;
    border-radius: 0.4em;
    box-shadow: 0px 2px 2px
        color-mix(in oklab, var(--shadow-color), transparent);
}

ul > li.hy.pop.good::before {
    content: "+";
    font-weight: bold;
    background-color: color-mix(in oklab, lime, var(--theme) 25%);
    padding: 0em 0.3em;
    color: color-mix(in oklab, lime, var(--inverse) 50%);
    margin: 0.25em 0.6em;
    margin-left: -1.6em;
    border-width: 0;
    border-radius: 0.4em;
    box-shadow: 0px 2px 2px color-mix(in oklab, darkgreen, transparent);
}

ul > li.hy.pop.neutral::before {
    content: "~";
    font-weight: bold;
    background-color: color-mix(in oklab, yellow, var(--theme) 25%);
    padding: 0em 0.3em;
    color: color-mix(in oklab, yellow, var(--inverse) 50%);
    margin: 0.25em 0.6em;
    margin-left: -1.6em;
    border-width: 0;
    border-radius: 0.4em;
    box-shadow: 0px 2px 2px color-mix(in oklab, darkgoldenrod, transparent);
}

ul > li.hy.pop.bad::before {
    content: "–";
    font-weight: bold;
    background-color: color-mix(in oklab, red, var(--theme) 25%);
    padding: 0em 0.3em;
    color: color-mix(in oklab, red, var(--inverse) 50%);
    margin: 0.25em 0.6em;
    margin-left: -1.6em;
    border-width: 0;
    border-radius: 0.4em;
    box-shadow: 0px 2px 2px color-mix(in oklab, darkred, transparent);
}
