.hy.mini {
    width: 23% !important;
}

.hy.half {
    width: 48% !important;
}

.hy.full {
    width: 95% !important;
}

.hy.one-third {
    width: 28% !important;
}

.hy.two-thirds {
    width: 58% !important;
}

.hy.small-font {
    font-size: 12pt !important;
}
