table.hy.alternate tr.hy:nth-child(odd) {
    background-color: color-mix(in oklab, transparent, var(--main-color) 15%);
}

table.hy.alternate tr td.hy:nth-child(odd) {
    background-color: color-mix(in oklab, transparent, var(--main-color) 15%);
}
