td.hy {
    border-radius: 0.6em;
}

tr.hy.alternate:nth-child(odd) {
    background-color: color-mix(in oklab, transparent, var(--theme) 25%);
}

td.hy.alternate:nth-child(odd) {
    background-color: color-mix(in oklab, transparent, var(--theme) 25%);
}
