input.hy.toggle {
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
	z-index: -1;
}

span.hy.toggle {
	cursor: pointer;
	--base-color: color-mix(in oklab, var(--sub-color), var(--theme) 60%);
	padding: 0.05em 1.5em;
	height: 0.9em;
	margin: 0.3em;
	background-color: var(--base-color);
	border-radius: 0.2em;
	box-shadow: 0px 2px 0px color-mix(in oklab, var(--shadow-color), transparent);
}

span.hy.toggle::before {
	position: absolute;
	margin: .075em -1.2em;
	width: 1em;
	height: 1em;
	background-color: var(--theme);
	border-radius: 0.2em;
	box-shadow: 0px 2px 0px color-mix(in oklab, var(--shadow-color), transparent 40%);
	content: "";
	transition: inherit;
	transform: translateY(0px);
}

input.hy.toggle:checked + span.hy.toggle::before {
	transform: translate(1.4em, 0em);
}

input.hy.toggle:checked + span.hy.toggle {
	--base-color: color-mix(in oklab, var(--main-color) 90%, var(--inverse));
	background-color: --base-color;
	box-shadow: 0px 2px 0px color-mix(in oklab, var(--shadow-color), transparent 25%);
}

input.hy.toggle:hover + span.hy.toggle::before {
	background-color: var(--sub-color);
}

input.hy.toggle:active + span.hy.toggle::before {
	transform: translateY(1px);
	box-shadow: 0px 1px 0px color-mix(in oklab, var(--shadow-color), transparent 25%);
}

input.hy.toggle:disabled + span.hy.toggle {
	--base-color: color-mix(in oklab, var(--main-color) 90%, var(--inverse));
	background-color: color-mix(in oklab, var(--base-color), var(--inverse) 25%);
}

input.hy.toggle.round + span.hy.toggle {
	border-radius: 1.2em;
}
input.hy.toggle.round + span.hy.toggle::before {
	border-radius: 1.2em;
}